body {
    background-color: floralwhite;
    font-family: Arial, sans-serif;
    color: #4B3B4F;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box {
    background-color: white;
    border-radius: 1em;
    padding: 2em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 600px;
    text-align: center;
  }
  
  
  h1 {
    color: #00c714;
  }
  
  p {
    color: #581845;
  }
  
  button.login-button {
    background-color: #00c714;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
  }
  