@font-face {
    font-family: "Playlist";
    src: url("../fonts/Playlist-Script.otf");
}

body, html {

    margin: 0;
}

body {
    overflow-x: hidden;
    height: 100vh;
}


.bg {
    background-color: #7B7D24;
    display: flex;
    flex-direction: column;
}

.user-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.user-description {
    margin:10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #7ED957;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-title {
    text-align: center;
    font-family: 'Playlist', sans-serif;
    font-size: 40px;
    text-shadow: 1px 1px black;
}

#user-desc-text{
    text-align: justify;
}

#logout-btn {
    background-color: #BA98FF;
    border-radius: 10px;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    border: none;
    color: white;
    margin-top: 10px;
    text-align: center;
    font-size: 30px; 
}

#logout-btn:hover {
    background-color: white;
    color: #BA98FF;
}

#pencil-img {
    width: 20px;
    height: 20px;
}

.content-area-container {
    background-color: #00BF63;
}

.notifications-container {
    display: flex;
    flex-direction: row;
    margin:10px;
    overflow-x: scroll;
    width: 90%;
}

@media screen and (max-width: 500px){
    .notifications-container{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }
}

.notification {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    overflow-y: visible;
}

.notification-image {
    margin-top: 10px;
    max-height: 200px;
}

.notification-button {
    background-color: #83A5D2;
    border-radius: 5px;
    border-style:none;
}

.notification-button:hover {
    background-color: white;
    border-color: #83A5D2;
    border-style: solid;
    color: #83A5D2;
}