@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

body {
  font-family: Arial, sans-serif;
  background-color: greenyellow;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 20px;
}


.reset-password-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fdfdca;
  border: 1px solid #9ebc85;
  border-radius: 4px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Cabin Sketch', cursive;
  font-size: 28px;
  color: #4d7a32;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #4d7a32;
}

input[type="password"] {
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #9ebc85;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4d7a32;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3c5f28;
}
