@font-face {
    font-family: AdleryPro;
    src: url("../fonts/Adlery-Pro-trial.ttf");
  }
  
@font-face {
    font-family: TitleFont;
    src: url("../fonts/TitleFont.ttf");
  }

 body{
   font-size: 100%;
   background:whitesmoke; 
   font-family: 'Roboto', sans-serif;
   background-image: url("../images/reset.jpg");
   background-repeat: no-repeat;
   opacity: 0.8;
}
a {
  text-decoration: none;
}
a:hover {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.element h2 {
    font-size: 2.5em;
    color: #fff;
    text-align: center;
    margin-top: 100px;
    font-weight: 700;
    text-shadow: 3px 3px limegreen;
}
.element-main {
    width:27%;
    background: #fff;
    margin:4em auto 0em;
    border-radius: 5px;
    padding:3em 2em;
}
.element-main h1 {
    text-align: center;
    font-size: 2.3em;
    color:limegreen;
    font-weight: 700;
}
.element-main p {
    font-size: 1em;
    color: #696969;
    line-height: 1.5em;
    margin: 1.5em 0em;
    text-align:center;
}
.element-main input[type="text"] {
    font-size: 1em;
    color: #A29E9E;
    padding: 1em 0.5em;
    display: block;
    width: 95%;
    outline: none;
    margin-bottom: 1em;
    text-align:center;
    border: 1px solid #B9B9B9;
}
.element-main input[type="submit"] {
    font-size: 1em;
    color: #fff;
    background:limegreen;
    width: 50%;
    padding: 0.8em 0em;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: 3px solid green;
    display: block;
    margin: 1.5em auto 0;
}
.element-main input[type="submit"]:hover{
    background:#1D1C1C;
    border-bottom: 3px solid #2F2F2F;  
    transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

@media(max-width:1440px){
	
}
@media(max-width:1366px){
	
}
@media(max-width:1280px){
.element h2 {
    margin-top: 1em;	
}
.element-main {
    width: 30%;
}
}
@media(max-width:1024px){
.element-main {
    width: 37%;	
}
}
@media(max-width:768px){
.element-main {
    width: 49%;
}	
.element h2 {
    font-size: 2em;
}
.element-main {
    width: 60%;
}
.element-main h1 {
    font-size: 2em;
}
}
@media(max-width:640px){
	
}
@media(max-width:480px){
.element-main {
    width: 80%;
    padding: 3em 1.5em;
}	
}
@media(max-width:320px){
.element h2 {
    font-size: 1.5em;
}
.element-main h1 {
    font-size: 1.5em;
}
.element-main {
    width: 80%;
    margin: 2em auto 0em;
    padding: 1.5em 1.5em;
}
.element-main p {
    font-size: 0.9em;	
}
.element-main input[type="submit"] {
    font-size:0.9em;
    width: 75%;
}
.element-main input[type="text"] {
    font-size: 0.9em;
    padding: 0.8em 0.5em;
}
}
