::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

footer {
    background-color: rgb(82, 82, 82);
    width: 100%;
    height: 50px;
    display: grid;
    place-items: center;
    color: white;
}