body {
    background-color: #004000;
    font-family: 'Roboto', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: calc(100vh - 8vh);
}

.content .main {
    background-color: rgb(180, 180, 180);
    width: 80%;
    overflow-y: scroll;
}

.description {
    /* overflow-y: scroll; */
    /* max-height: 80px; */
    margin: 5px;
}

.items {
    padding: 10px;
}

.title {
    margin: 0;
}

.selling-item {
    position: relative;
    display: flex;
    background-color: #00bf63;
    height: 150px;
    border-radius: 20px;
    overflow: hidden;
    align-items: center;
    margin: 0 0 20px 0;
}

.selling-item .img-wrapper {
    flex: 1;
    height: 100%;
}

img {
    object-fit: cover;
}

.selling-item .right-wrapper {
    display: flex;
    padding: 0 40px;
    flex: 4;
    justify-content: space-between;
    align-items: center;
}


.selling-item .controls {
    display: flex;
    justify-content: flex-end;
    height: 80px;
}

.selling-item button {
    background-color: #ba98ff;
    border-radius: 30px;
    padding: 10px;
    margin: 0 10px;
    width: 80px;
}

.selling-item .img-wrapper {
    height: 100%;
}

.item-price {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.controls .control-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.control-item label {
    color: rgb(60, 60, 60);
    font-size: 1.2em;
}

.control-item input.quantity {
    width: 3em;
    padding: 5px;
    text-align: center;
}

button.delete {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 0;
    background-color: initial;
    border: none;
    width: 20px;
    border-radius: 0;
    filter: invert(0%);
    cursor: pointer;
}

button.delete:hover {
    filter: invert(60%);
}

.checkout-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    width: 30%;
    margin: auto;
}

.checkout-container > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    border-bottom: red 1px solid;
    border-radius: 10px;
    padding: 5px 10px;
}


button.checkout {
    margin-top: 10px;
    background-color: #00bf63;
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding: 20px;
    border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
    .selling-item .img-wrapper {
        flex: 1.5;
        height: 100%;
    }
}

@media only screen and (max-width: 800px) {
    .selling-item .img-wrapper {
        flex: 2;
        height: 100%;
    }

    .control-item input.quantity {
        width: 1em;
    }

    .control-item label {
        font-size: 0.8em;
    }

    .selling-item .right-wrapper {
        padding: 0 5px;
    }

    .content .main {
        width: 100%;
    }

    .checkout-container {
        font-size: 0.6em;
        width: 60%;
    }

    .item-price {
        font-size: 18px;
    }
}
